@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow: hidden;
}

header {
  background: #5edbfb;
  padding: 2% 5%;
}

header > p {
  margin-bottom: 5px;
  font-weight: 300;
}

h1 {
  margin-bottom: 15px;
}

.country-card {
  margin: 2% auto;
  width: 40%;
  padding: 2%;
  border-radius: 5px;
  border: 1px solid #BACDD8;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.flag-container {
  margin: 0 auto;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

img {
  border: 1px solid #BACDD8;
  height: 200px;
  width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.first-word {
  font-size: 20px;
  font-weight: bold;
}

.info {
  padding: 5px;
  font-size: 20px;
}

.input {
  font-weight: 300;
}

.button-container {
  text-align: center;
}

button {
  border-style: solid;
  border-radius: 5px;
  padding: 10px;
  color: #ffff;
  background:#5edbfb;
  margin: auto;
}

footer {
  text-align: center;
  background: #5edbfb;
  padding: 10px;
  margin-top: 50px;
}